.p- {
  &signIn {
    text-align: center;

    &__contents {
      padding: 40px 0 60px 0;
    }

    &__label {
      padding: 10px 0 3px 0;
    }

    &__mailArea {
      margin: 0 auto;
    }
  }
}