{
  "extends": [
    "stylelint-config-standard",
    "./node_modules/prettier-stylelint/config.js",
    "stylelint-config-recess-order"
  ],
  "syntax": "scss",
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
  ],
  "rules": {
    "comment-empty-line-before": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-mixin-pattern": "^[a-z][a-zA-Z0-9]+$"
  }
}
