// @import 'src/app/scss/import/assets';

.header {
  display: flex;
  &__icon {
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }

  &__iconImage {
    height: 36px;
    width: 164px;
  }
}
